.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0px;
}

@media screen and (max-width: 820px) {
.place__title {
  font-size: 42px;
  line-height: 46px;
  }
}

@media screen and (max-width: 500px) {
.place__title {
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 32px;
  max-width: 288px;
  margin-left: 16px;
  text-align: left;
  }
}
