.place__image {
  max-height: 460px;
  grid-row: 2;
  grid-column: 1;
  width: 100%;
}
 @media screen and (max-width: 1124px) {
   .place__image {
     max-height: 440px;
   }
 }

  @media screen and (max-width: 820px) {
   .place__image {
     max-height: 340px;
   }
 }

 @media screen and (max-width: 500px) {
   .place__image {
     max-height: 320px;
     margin-bottom: 32px;
   }
 }
