.lead__image {
  max-width: 984px;
  width: 100%;
  /* max-height: 615px; */
  margin: 64px auto 0px auto;
}

@media screen and (max-width: 1024px) {
	.lead__image {
		margin: 56px auto 0px;
    max-height: 580px;
	}
}

@media screen and (max-width: 500px) {
	.lead__image {
		margin: 40px auto 0px;
    width: 100%;
	}
}
