.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  margin-top: 12px;
  width: 100%;
  transition: opacity 0.5s;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
	.place__link {
		visibility: hidden;
  }
}
