.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 32px;
  position: relative;
  z-index: 2;
  text-align: center;

}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
